.slick-dots li button {
  color: #e5e1e6 !important;
  background-color: #ffffff !important;
  font-weight: bolder !important;
  width: 8px !important;
  width: 8px !important;
}
.slick-dots li button:before {
  color: #e5e1e6 !important;
  font-size: 8px !important;
  background-color: #ffffff !important;
  font-weight: bolder !important;
  width: 8px !important;
  width: 8px !important;
}
.slick-dots li.slick-active button:before {
  color: #4c42e8 !important;
}

.slick-dots {
  overflow: visible !important;
  display: flex;
  position: relative;
}

.slick-dots li {
  margin: 100px 0 0 0 !important;
  background-color: #ffffff !important;
}

.slick-list {
  overflow: visible !important;
}
