.main {
  display: block;
  width: 100%;
}

.layoutWrapper {
  display: flex;
  align-items: center;
  width: 157px;
  height: 32px;
  padding: 0px, 14px, 0px, 0px;
}

.layoutWrapper .menuIcon {
  color: #356a1e;
  width: 24px;
  height: 24px;
}

.layoutWrapper .title {
  font-family: Poppins;
  font-style: normal;
  font-size: 24px;
  color: #356a1e;
  line-height: 32px;
  text-align: left;
  vertical-align: top;
  margin-left: 12.5px;
  font-weight: 400;
  width: 128px;
  height: 32px;
}
