@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif !important;
  }
}

body {
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.aa-Form .aa-ClearButton {
  display: none;
}

.bg-md-light-surface {
  background-color: #ebebeb !important;
}

.aa-InputWrapperSuffix {
  display: none;
}
