html {
  overflow: auto;
  font-family: "Poppins" !important;
}
body {
  font-family: "Poppins" !important;
  font-style: normal;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
