html {
  overflow: auto;
  font-family: "Poppins" !important;
}
body {
  font-family: "Poppins" !important;
  font-style: normal;
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
